/* Styles for header, hero, features, courses, testimonials, and footer */
/* Styles for responsiveness */

@media screen and (max-width: 992px) {
    .container {
      max-width: 960px;
    }
    .Join{
      max-width: 960px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .container {
      max-width: 720px;
    }
  
    .logo img {
      height: 40px;
    }
    .Join{
      max-width: 720px;
    }
  
    .navigation ul li a {
      padding: 10px 15px;
    }
  
    .hero-content h1 {
      font-size: 2rem;
    }
  
    .hero-content p {
      font-size: 0.9rem;
    }
  
    .cta-button {
      padding: 10px 20px;
    }
  
    .feature-card {
      width: 100%;
    }
  
    .testimonial p {
      font-size: 0.9rem;
    }
  
    .testimonial cite {
      font-size: 0.9rem;
    }
  }
  
  @media screen and (max-width: 576px) {
    .container {
      max-width: 540px;
    }
    .Join{
      max-width: 540px;
    }
  
    .hero-content h1 {
      font-size: 1.8rem;
    }
  
    .hero-content p {
      font-size: 0.9rem;
    }
  
    .cta-button {
      padding: 8px 15px;
    }
  
    .feature-card {
      width: 100%;
    }
  
    .testimonial p {
      font-size: 0.8rem;
    }
  
    .testimonial cite {
      font-size: 0.8rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .container {
      max-width: 420px;
    }
    .Join{
      max-width: 420px;
    }
  
    .hero-content h1 {
      font-size: 1.5rem;
    }
  
    .hero-content p {
      font-size: 0.8rem;
    }
  
    .cta-button {
      padding: 6px 12px;
      font-size: 0.8rem;
    }
  
    .feature-card {
      width: 100%;
    }
  
    .testimonial p {
      font-size: 0.7rem;
    }
  
    .testimonial cite {
      font-size: 0.7rem;
    }
  }
  @media(max-width:650px){
    div#bottom-left-section, div#botttom-right-section, #card{
      width:100%;
      height:auto;
  
    }
   
  }